a {
	text-decoration: none;
}

nav {
	background-color: black;
}

.bgimage {
    height:100vh;
    background: url('/static/images/hello-world.jpg');
    background-size:cover;
    position:relative;
}

.hero_title {
    font-size: 4.5rem;
}

.hero_desc {
    font-size: 2rem;
}

.hero-text {
	position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.imageAboutPage {
    width: 100%;
}

.skillsText.card {
    height: 280px;
    cursor: pointer;
}

.projectsCard{
	height: 300px;
}

.card-title {
    text-align: center;
}

.skillsText:hover {
    border: 1px solid #010201;
}	

.fa-linkedin-in:hover, .fa-telegram-plane:hover, .fa-github:hover {
    color: #008000;
}

footer .fab {
    color: #ddd;
	width: 50px;
}

footer {
	position: relative;
	color: #fff;
	background-color: #2f2f2f;
	border-top: 1px solid #e5e5e5;
	text-align: center;
}

.link-light:hover {
	color: #008000;
}