<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="#" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/admin.css">
    <title>Admin panel</title>
</head>
<body>
    <div class="container" id="main">
        <!-- <div class="update-container" id="popup-update" style="display: none;">
            <h2>Update Project</h2>
                <title></title>
                
                <button onclick="updateProject()">Submit</button>
        </div> -->
        <div class="add-project-container">
            <button class="add-project-btn" onclick="toggleVisibility()">+</button>
            <div id="containerFormProject" class="hidden" style="display: none;">
                <h2>New Project</h2>
                <form id="formProject" onsubmit="event.preventDefault();">
                    <label for="name">Name</label>
                    <input type="text" name="name" id="name" autocomplete="additional-name" required>
                    <label for="abstract">Abstract</label>
                    <input type="text" name="abstract" id="abstract">
                    <label for="description">Description</label>
                    <input type="textarea" name="description" id="description">
                    <label for="link">Link</label>
                    <input type="Url" name="link" id="link">
                    <button onclick="addProject()">Submit</button>
                </form>
            </div>
        </div>
        <section class="projects">
            {{range .}}
            <div class="project-container" id="id-{{.Name}}">
                <h4 class="project-name">{{.Name}}</h4>
                <h6 class="project-abstract">{{.Abstract}}</h6>
                <p class="project-description">{{.Description}}</p>
                <a href="{{.Url}}" class="project-link">Link</a>
                <ul class="project-tagbox">
                    {{range .Tags}}
                    <li class="{{.TagType}}">{{.TagName}}</li>
                    {{end}}
                </ul>
                <button onclick="openUpdateForm('{{.Name}}')">Change</button>
                <button onclick="deleteProject('{{.Name}}')">Delete</button>
                {{if .Finished}}
                <p>complete</p>
                {{end}}
            </div>
            {{end}}
        </section>
    </div>
    <script src="/static/js/project.js"></script>
    <script src="/static/js/admin.js"></script>
</body>
</html>