{{define "footer"}}
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h1 class="logo">freer4an</h1>      
                <address>            
                  <a class="footer__btn" href="mailto:freer4an@gmail.com">Send email</a>
                </address>
              </div>
            <div class="footer-col">
                <h4>Menu</h4>
                <ul>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Projects</a></li>
                    <li><a href="#">MyCV</a></li>
                </ul>
            </div>
          
            <div class="footer-col">
                <h4>follow us</h4>
                <div class="social-links">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class='fab fa-telegram-plane'></i></a>
                    <a href="#"><i class="fab fa-github"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="legal">
      <p>&copy; 2023 Aday Aman. All rights reserved.</p> 
    </div>
  </footer>
{{end}}
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h1 class="footer__logo">freer4an</h1>      
                <address>            
                  <a class="footer__btn" href="mailto:freer4an@gmail.com">Send email</a>
                </address>
              </div>
            <div class="footer-col">
                <h4>Menu</h4>
                <ul>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Projects</a></li>
                    <li><a href="#">MyCV</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>online shop</h4>
                <ul>
                    <li><a href="#">watch</a></li>
                    <li><a href="#">bag</a></li>
                    <li><a href="#">shoes</a></li>
                    <li><a href="#">dress</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>follow us</h4>
                <div class="social-links">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>