{{define "footer"}}
<footer class="footer py-3 mt-4">
  <ul class="nav justify-content-center border-bottom border-dark pb-3 mb-3">
    <li><a href="/#" class="link-light px-2">Home</a></li>
    <li><a href="/#about" class="link-light px-2">About</a></li>
    <li><a href="/projects" class="link-light px-2">Projects</a></li>
    <li><a href="/cv" class="link-light px-2">MyCV</a></li>
  </ul>          
    <a href="https://t.me/q_samurai"><i class='fab fa-telegram-plane fa-xl'></i></a>
    <a href="https://github.com/freer4an"><i class="fab fa-github fa-xl"></i></a>
    <a href="https://www.linkedin.com/in/adayaman/"><i class="fab fa-linkedin-in fa-xl"></i></a>
</footer>
{{end}}