{{template "header"}}
<section id="projects">
    <div class="container py-3 mt-5">
        <h1 class="h1 text-center mx-5">My Projects</h1>
        <div class="row">
            {{range $index, $element := .}}
                {{if lt $index 2}}
                <div class="col">
                    {{template "project" .}}
                </div>
                {{end}}
            {{end}}
        </div>
        <div class="row justify-content-center">
            {{range $index, $element := .}}
                {{if ge $index 2}}
                <div class="col">
                    {{template "project" .}}
                </div>
                {{end}}
            {{end}}
        </div>
    </div>
</section>
{{template "footer"}}